<!DOCTYPE html>
<html>
  <head>
    <title>PostalcodeSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="container">
      <h1>郵便番号検索</h1>
      <%= form_with method: :get do |f| %>
      <%= f.text_field :postal_code, class: "", placeholder: "郵便番号を入力してください", value: "#{@postal_code}" %>
      <%= f.submit value: "検索" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
